In [1]:
print("Test")

Test

In [1]:
x = 1

In [2]:
x

1

In [3]:
x=x+1

In [4]:
print(x)

2

In [5]:
y=5

In [6]:
x=1
y=5
z=x
x=y
y=z

In [7]:
print('x=',x,'y=',y)

x= 5 y= 1

In [8]:
L=[1,2,3,44]

In [9]:
L[0]

1

In [10]:
L[3]

44

In [11]:
for n in L:
    print(n)

1
2
3
44

In [14]:
for x in [1,2,3,4,5,6,7,8,9,10]:
    print('7 x',x,'=',7*x)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [15]:
y=7
for x in [1,2,3,4,5,6,7,8,9,10]:
    print(y,'x',x,'=',y*x)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [20]:
L=[3,4,7]

for y in L:
    for x in [1,2,3,4,5,6,7,8,9,10]:
        print(y,'x',x,'=',y*x)
    print('----')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----